.container{
    text-align: center;
    margin-top:23px
}
 // this is table
table{
    margin: auto;
}
// this is button
.btn{
    background-color:chocolate;
}


// this is eq
.eq button{
    height:410px;
    background-color:rgb(241, 229, 229);
}
input{
    border:2px solid chocolate;
    font-size:34px;
    height: 65px;
    width: 456px;
}

// this is button
button{
    font-size: 40px;
    width: 102px;
    height: 90px;
    margin: 6px;
}

// this is calculator
.calculator{ 
    border:2px solid lightgray;
    padding: 13px;
    display: inline-block;
    
}

// this is h1
h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}
